*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color:#FBF7EE ;
}
 
/*header*/
header{
    width: 90%;
    margin: auto;
}
.nav{
    margin: 15px 20px;
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 80px ;
    height: 40px;
}
.Menu ul{
    display: flex;
    list-style: none;
}
.Menu ul li {
    margin: 15px 20px;
    background-color: #FBF7EE;
}

.Menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.Menu ul li a:hover {
   text-decoration: underline;
}
.Choix ul {
    display: flex;
    list-style: none;
}
.Choix ul li {
    margin: 15px 20px;
    background-color: #FBF7EE;
}

.Choix  {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.Choix ul li a:hover {
    text-decoration: overline;
}
.Choix ul li a {
    text-decoration: none;
    color: black;
}
.Choix .btn {
    color: #fff;
}

/*main*/
.main .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main .container .article h1{
    padding-bottom: 20px;
    font-size: 50px;
}
.main .container .article p{
    padding-bottom: 40px;
    color: #a2a2a2;
}
.email{
    padding: 10px;
    width: 20rem;
    background-color: #fff;
    border: 1px solid #b5b5b5;
    margin-right: 10px;
}
.btn{
    padding: 10px;
    width: 130px;
    color: #fff;
    background-color: #3583ff;
    border: solid;
    font-weight: 900;
    border-radius: 10px;
}
.main .credit{
    display: flex;
    padding-top: 20px;
}
.credit .row{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.credit .row img{
    width: 15px;
}
.credit .row span{
    font-size: 12px;
    color: #a2a2a2;
    margin-left: 5px;
}
.main .container .rowImg{
    padding-left: 50px;
}
.main .container .rowImg img{
    width: 30rem;
}
/* section */
section .container{width: 90%; margin: 40px auto;}
.section {display: flex; justify-content: space-between; }
.section .feature{width: 22%; background-color: white;padding: 27px 18px; font-family: 'karla'; border: 1px solid #B8B8B8; border-radius: 3px;}
.section .feature img{background-color: white;}
.section .feature h3{background-color: white;}
.section .feature p{color: #A2A2A2; background-color: white;}
.section .feature p b{color: black; background-color: white;}
/*this is my part*/
.mysec .container{width: 90%; }
#title2
{
    width: 612px;
    height: 63px;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#parag
{
    width: 612px;
    height: 41px;
    opacity: 70%;
    font-size: 20px;
   
}
#part4
{
    justify-content: space-between;
    display: flex;
    flex-basis: 0;
    padding: 2px;
    flex-wrap: wrap;
    padding: 0%;
  

}
#part4 .box2:last-child
{
    background-color: #fff;
    padding: 0px;
    border-radius: 5px;
   
   
    opacity: 80%;
    box-sizing: 0.2;
    height: 50%;
    font-size: x-small;
    padding: 1%;

}
#part4 .box2:nth-child(2) h3
{
    margin-top: 30%;

}
#part4 .box2:nth-child(1) h3
{
    margin-top: 39%;

}
#part4 .box2:nth-child(3) h3
{
    margin-top: 52%;

}
#part4 .box2:nth-child(1) .lastbutton    
{
    color: white;
    background-color: #3079ff;

}


.box2
{
    
    border-color: rgb(0, 0, 0);
    box-sizing: inherit;
    border-radius:8px ;
    width: 22%;
    background-color: #fffaca; 
    padding: 10px;
    margin: 12px;
    margin-left: 0.2%;
    border-width: thin;
    border-style: solid;
    height: 90%;
    padding-inline-start: 2%;
}

#textads
{
    background-color: white;
    opacity: 50%;
    font-family: Arial, Helvetica, sans-serif;
}
.box2 p
{
    background-color: #fffaca; 
    border-radius: 10px;
}

.firstbutton
{
    margin-top: 12px;
    border-radius: 100px;
    color: #fff;
    width: 40%;
    text-align: center;
    text-decoration: none;
    background-color: #346cc7;
    border-color: #b9b9b9;
    margin-bottom: 5%;
    margin-top: 5%;
}
ul li
{
    list-style: none;
    background-color: #fffaca; 
}
.lastbutton
{

    position: relative;
    margin-top: 12px;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #3079ff;
    border-radius: 20px;
    width: 85%;
    border-color: #3079ff;
    background-color: #fffaca; 
}
.smalllogo
{
    width: 12px;
    height: 12px;
    background-color: #fffaca; 
}
.listeitems 
{
    margin-top: 10px;
    background-color: #fffaca; 
}
.price
{
    position: relative;
    background-color: #fffaca; 
    margin-top: 30%;   
    
   
}

#ads
{
    position: relative;
    margin-top: 10%;
    margin-bottom: 25%;
    width: 80%;
    height:30% ;
    margin-left: 8%;
    
}
h6
{
    margin-top: 12px;
    background-color: white;
}

/* start footer */
footer{width: 90%; margin: auto; color: #13366D; font-weight: bolder; margin-bottom: 40px;}


/* Responsive Tablite */
@media screen and (min-width:769px) and (max-width:1023px){
    /*Responsive nav*/
    .nav{
        display: block;
        text-align: center;
    }
    .Menu ul {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 15px;
    }
    .Choix ul {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 15px;
    }
    /*Responsive header*/
    .main .container{
        flex-wrap: wrap;
        flex-basis: 0;
    }
    .main .container .rowImg{
        padding: 30px 0 50px 0; 
    }
    /* section */
    .section{display: flex; flex-wrap: wrap;}
    .section .feature {margin: 10px auto; width: 45%;}
     /*this is mine*/
     .box2
     {
        margin: 10px auto; width: 45%;
     }


#part3
    {
       margin-left: 3%;
        justify-content: center;
        font-size: smaller;
    }

}

 

/* Responsive Mobile */
@media screen and (max-width:767px){
    /*Responsive nav*/
    .nav{
        display: block;
        text-align: center;
    }
    .Menu ul {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 10px;
    }
    .Choix ul {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 10px;
    }

    /*Responsive header*/
    .main .container{
        flex-wrap: wrap;
        text-align: center;
    }
    .main .container .rowImg{
        padding: 30px 0 50px 0;
    }
    .main .container .rowImg img{
        width: 25rem;
    }
    .btn{
        margin-top: 15px;
    }
    .container .credit{
        justify-content: center;
    }
    /* section */
    .section{display: flex; flex-direction: column;}
    .section .feature {margin: 10px auto; width: 50%;}
    /*this is*/
#part3
    {
        margin-left: 25%;
        justify-content: center;
        font-size: x-small;
    }
#part4
{
    display: block;
}
.box2
{
    border: #8b8b8b;
    box-sizing: inherit;
    border-radius: 3px;
    width: 50%;
    padding: 10%;
    margin-left: 25%;
    margin-bottom: 20px;

}
#part4 :last-child
{
    background-color: #fff;
    padding: 0px;
}
#title2
{
    width: 612px;
    height: 63px;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: smaller;
}
#parag
{
    width: 612px;
    height: 41px;
    opacity: 70%;
    font-size: smaller;
   
}
}
